/* fonts*/
@font-face {
    font-family: 'QuickSand';
    src: url('fonts/QuickSand-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'QuickSand';
    src: url('fonts/QuickSand-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'QuickSand';
    src: url('fonts/QuickSand-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'QuickSand';
    src: url('fonts/QuickSand-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'QuickSand';
    src: url('fonts/QuickSand-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* icons */
#house-icon {
    position: absolute;
    height: 40px;
    left: 4%;
    top: 12px;
}
#menu-icon {
    position: absolute;
    height: 30px;
    right: 4%;
    top: 19px;
    cursor: pointer;
}

/* header */
header {
    width: 100%;
    height: 70px;
    top: 0;
    left: 0;
    right: 0;
    background-color: #2C1B14;
    opacity: 0.8;
    color: white;
    position: fixed;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'QuickSand', sans-serif;
    font-weight: 500;
}
.navi {
    display: flex;
    list-style: none;
    gap: 40px;

}
.navi li {
    cursor: pointer;
}

/* main */
.first-container {
    height: 800px;
    top: 0;
}
#main-img {
    height: 800px;
    width: 100%;
    z-index: 0;
    position: absolute;
}
.name {
    font-family: 'QuickSand', sans-serif;
    font-weight: 500;
    font-size: 100px ;
    position: absolute;
    left: 60%;
    top: 49%;
    z-index: 2;
    color: white;
}
.black-back {
    height: 800px;
    background-color: #000;
    opacity: 0.4;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
#drop-down-icon {
    position: absolute;
    z-index: 5;
    left: 50%;
    top: 90%;
    height: 50px;
}

/* second container */
.second-container {
    padding-top: 80px;
}
p {
    font-family: 'QuickSand', sans-serif;
}
.second-p {
    font-size: 40px;
    padding-top: 80px;
    padding-bottom: 30px;
    padding-left: 40px;
}
.second-cont-images {
    height: 400px;
    display: inline-flex;
    gap: 50px;
    align-items: center;
    justify-content: space-around;
    transition: transform 0.2s ease;
}
.second-cont-images:hover {
    transform: scale(1.03);
}
.second-container-images {
    display: flex;
    justify-content: space-around;
}
figcaption {
    font-family: 'QuickSand', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: gray;
}
.second-container {
    padding-bottom: 60px;
}
/* third container*/

.third-container {
    padding-bottom: 80px;
    padding-top: 80px;
}
.third-container-back {
    height: 400px;
    background-color: #ECEBDE;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.third-cont-image {
    height: 450px;
    transition: transform 0.2s ease;
}
.third-cont-image:hover {
    transform: scale(1.03);
}
.third-1p {
    font-weight: 700;
    font-size: 25px;
    padding-bottom: 20px;
}
.quest-5 {
    color: #54473F;
}
.third-button {
    background-color: #54473F;
    color: #ECEBDE;
    border-radius: 12px;
    height: 40px;
    width: 180px;
    padding: 10px 20px;
    margin-top: 20px;
    font-family: 'QuickSand', sans-serif;
    font-weight: 500;
    border: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.third-button:hover {
    cursor: pointer;
    background-color: #ECEBDE;
    color: #54473F;
    border: 2px solid #54473F;
}


/* forth container */
.forth-container {
    height: 700px;
    padding-left: 130px;
    padding-top: 80px;
}
h1 {
    font-weight: 800;
    font-size: 35px;
    font-family: 'QuickSand', sans-serif;
    padding-bottom: 30px;
}
.first-question-line {
    display: inline-flex;
    justify-content: space-between;
    gap: 700px;
}
.first-question-icon {
    height: 20px;
    cursor: pointer;
    display: flex;
}
.first-quest, .second-quest, .third-quest, .forth-quest {
    font-weight: 500;
    font-size: 20px;
    padding: 20px;
    cursor: pointer;
}
.first-ans {
    color: #7F8487;
    font-size: 20px;
    font-weight: 300;
    padding: 30px;
    width: 80%;
}
.light-line {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 1px;
    width: 90%;
    background-color: lightgray;
}
.quests {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
}
.quests-1{
    gap: 800px;
}
.quests-2{
    gap: 907px;
}
.quests-3{
    gap: 877px;
}
.quests-4{
    gap: 759px;
}
.second-question-icon {
    height: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}




/* footer */
.footer {
    background-color: #5d4b41;
    color: #fff;
    padding: 40px 20px;
    font-family: 'QuickSand', sans-serif;;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-left {
    max-width: 50%;
}

.footer-right {
    max-width: 45%;
}

.footer-title {
    font-size: 24px;
    font-weight: bold;
}

.footer-subtitle {
    font-size: 18px;
    margin-bottom: 20px;
}

.footer-section {
    margin-bottom: 20px;
}

.section-title {
    font-weight: bold;
}

.footer-bottom {
    text-align: center;
    margin-top: 30px;
    border-top: 1px solid #ccc;
    padding-top: 15px;
    font-size: 14px;
}
.a-footer {
    color: #fff;
    text-decoration: none;
}
.a-footer:hover {
    color: #2C1B14;
    text-decoration: none;
}


